table, tr, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

table {
  width: 100%;
}

p a {
  color: #1188aa;
}

h1 a {
    color: black;
}

h1 a:hover {
    text-decoration: none;
    color: black;
}

td, th {
    padding: 10px;
    max-width: 400px;
}

th {
    background-color: black;
    font-weight: bold;
    padding: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}

.date-in-header {
    text-align: right;
    padding: 20px 0;
}

.high {
    color: red;
    font-weight: bold;
    font-style: italic;
}

form {
    margin: 50px 0;
}

.header {
    background-color: #1188aa;
    padding: 10px;
    margin-bottom: 20px;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:hover {
    background-color: #dedede;
}

.checked::after {
    content: " \f0d7 ";
    font-family: "FontAwesome";
    color: #1188aa;
}

.checked-reverse::after {
    content: " \f0d8 ";
    font-family: "FontAwesome";
    color: #1188aa;
}

.done {
    color: green;
    font-weight: bold;
}

.addtask {
    margin-top: 20px;
    text-align: right;
}

.urgent {
    text-decoration: underline;
}

.urgent::after {
    content: "!";
    color: red;
    font-weight: bold;
}
